recursive-include src/pyrit *.csv
recursive-include src/pyrit *.json
recursive-include src/pyrit *.prompt
recursive-include src/pyrit *.yaml
recursive-include src/pyrit *.pdf
recursive-include src/pyrit *.png
recursive-include src/pyrit *.wav
recursive-include src/pyrit *.mp4
recursive-include src/pyrit *.md
include src/pyrit/auxiliary_attacks/gcg/src/Dockerfile
recursive-include src/pyrit/backend/frontend *
